<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/tabs/account" text="" color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title>Doggy</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <div>
      <mat-nav-list>
        <a mat-list-item routerLink="/tabs/account/abonnements" routerLinkActive="list-item-active" >Abonnements</a>
        <a mat-list-item routerLink="/tabs/account/abonnes" routerLinkActive="list-item-active" class="current">Abonnés</a>
        <a mat-list-item routerLink="/tabs/account/suggestions" routerLinkActive="list-item-active">Sugestions</a>
      </mat-nav-list>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
