mat-nav-list {
  display: flex;
  justify-content: space-around;
  vertical-align: middle;

  a {
    letter-spacing: 1px;
    font-size: 12px;
  }
  a::before {
    content: "";
    display: block;
    position: absolute;
    /*bottom: 3px;*/
    top: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
  }
  a:active::before {
    background-color: #000;
  }
  a:hover::before,
  a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
  }
}
