<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/tabs/account" text="" color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title>Doggy</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-input type="search" placeholder="recherche" aria-label="recherche" class="recherche"><ion-icon name="search-circle-outline"></ion-icon></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--<app-explore-container name="Tab 2 page"></app-explore-container>-->
</ion-content>
