#titre {
  margin-left: 25px;
}

/*ion-content {
  --background: url("../../assets/icon/viktor-forgacs-aPC8ygu3bWA-unsplash.jpg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  --overflow: hidden;
}*/

.account {
  margin-left: 55%;
}

.actu {
  position: absolute;
  left: 70%;
  /*ion-icon {
    font-size: 2em;
  }*/
}
