<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/account" text="" color="warning"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-button size="small" fill="clear" color="dark" slot="start">
        <ion-icon name="image-outline" color="warning" class="logo"></ion-icon>
        <ion-label>Publications</ion-label>

      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button size="small" fill="clear" color="dark" slot="start">
        <ion-icon name="camera-reverse-outline" color="warning" class="logo"></ion-icon>
        <ion-label>Stories</ion-label>

      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
