<ion-header>
  <ion-toolbar>
    <a routerLink="/">
      <ion-title>Crafts&Joy</ion-title>

    </a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <div>
      <div>
        <mat-nav-list>
          <a mat-list-item  routerLink="/sign-up" routerLinkActive="list-item-active" >Inscription</a>
          <a mat-list-item routerLink="/sign-in" routerLinkActive="list-item-active">Connexion</a>
          <!--<a mat-list-item routerLink="/publications" routerLinkActive="list-item-active">Publications</a>-->
        </mat-nav-list>
      </div>
    </div>

    <h1>Stock tes articles, bricole et partage... </h1>
  </ion-header>
  <h2>wellcome</h2>
</ion-content>
<br/>

